@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
	<link rel="stylesheet" href="~/Styles/reset.css" />
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">*@
	<link rel="stylesheet" href="~/Styles/Home.css" />
	<script src="https://use.fontawesome.com/4d5b797aa0.js"></script>
	<script type="text/javascript" src="~/js/moment.js"></script>
	<script type="text/javascript" src="~/js/chart.min.js"></script>
	<script type="text/javascript" src="~/js/lodash.js"></script>
	<script type="text/javascript" src="~/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="~/js/react/react.js"></script>
	<script type="text/javascript" src="~/js/react/react-dom.js"></script>
	<script type="text/javascript" src="~/js/react-chartjs.min.js"></script>
</head>
<body>
    <div id="app"></div>
	<script type="text/javascript" src="~/js/app/routes.js"></script>
	<script type="text/javascript" src="~/js/app/icon.jsx"></script>
	<script type="text/javascript" src="~/js/app/login.jsx"></script>
	<script type="text/javascript" src="~/js/app/userEdit.jsx"></script>
	<script type="text/javascript" src="~/js/app/user.jsx"></script>
	<script type="text/javascript" src="~/js/app/userView.jsx"></script>
	<script type="text/javascript" src="~/js/app/shift.jsx"></script>
	<script type="text/javascript" src="~/js/app/dayWeekend.jsx"></script>
	<script type="text/javascript" src="~/js/app/dayHoliday.jsx"></script>
	<script type="text/javascript" src="~/js/app/dayMyShift.jsx"></script>
	<script type="text/javascript" src="~/js/app/dayTheirShift.jsx"></script>
	<script type="text/javascript" src="~/js/app/dayPreferences.jsx"></script>
	<script type="text/javascript" src="~/js/app/dayPanel.jsx"></script>
	<script type="text/javascript" src="~/js/app/calendarView.jsx"></script>
	<script type="text/javascript" src="~/js/app/statistics.jsx"></script>
	<script type="text/javascript" src="~/js/app/credits.jsx"></script>
	<script type="text/javascript" src="~/js/app/header.jsx"></script>
	<script type="text/javascript" src="~/js/app/app.jsx"></script>
	<script type="text/javascript" src="~/js/app/main.jsx"></script>
</body>
</html>
