body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100%;
  top: 62px;
}
.mainPageContent {
  margin-top: 80px;
}
header {
  padding: 15px;
  background-color: #50236c;
  color: white;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
header * {
  user-select: none;
}
header .fa {
  margin-right: 4px;
}
header h1 {
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  margin: 5px 15px;
  margin-left: 0;
  flex-grow: 0;
}
header .menuItems {
  display: inline-block;
  flex-grow: 1;
}
header .menuItems .menuItem {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 10px 5px 5px;
  padding: 5px;
  cursor: pointer;
}
header .menuItems .menuItem.selected {
  background-color: #7800c3;
  border-radius: 8px;
  padding: 7px;
}
header .loginCorner {
  display: inline-block;
  flex-grow: 0;
}
header .loginCorner .currentUser {
  display: inline-block;
  font-weight: bold;
  color: white;
  font-size: 16px;
  margin: 5px 10px 5px 5px;
  padding: 5px;
}
header .loginCorner .logout {
  padding-right: 10px;
  font-size: large;
  cursor: pointer;
  display: inline-block;
}
.shift {
  margin: 4px;
  border: 1px solid #bbb;
  background-color: #ddd;
  border-radius: 5px;
  width: 600px;
}
.shift.currentUser {
  background-color: #c299dc;
}
.shift .header {
  background-color: #707070;
  color: white;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.shift .content {
  padding: 5px 10px;
}
.preferenceContainer {
  margin: 20px;
}
.preferenceContainer .dayContainer {
  width: 400px;
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 3px;
  border-radius: 4px;
  background-color: #ecd7f8;
  border: 1px solid #707070;
  border-radius: 2px;
}
.preferenceContainer .dayContainer span {
  text-transform: uppercase;
  font-size: 14px;
}
.preferenceContainer .dayContainer.short {
  background-color: #d0c0e0;
}
.preferenceContainer .dayContainer.weekend {
  opacity: 0.67;
}
.preferenceContainer .dayContainer .day {
  flex-grow: 1;
}
.preferenceContainer .dayContainer .buttonsContainer {
  flex-grow: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.preferenceContainer .dayContainer .buttonsContainer .button {
  border-radius: 0px;
  cursor: pointer;
  max-width: 16px;
  max-height: 16px;
  padding: 4px;
  font-size: 12px;
  background-color: white;
  color: #444;
  width: 16px;
}
.preferenceContainer .dayContainer .buttonsContainer .button.check,
.preferenceContainer .dayContainer .buttonsContainer .button.default {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.preferenceContainer .dayContainer .buttonsContainer .button.check {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.preferenceContainer .dayContainer .buttonsContainer .button.uncheck {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.preferenceContainer .dayContainer .buttonsContainer .button.check.selected {
  background-color: #0e5e0e;
  color: white;
}
.preferenceContainer .dayContainer .buttonsContainer .button.uncheck.selected {
  background-color: #7c3636;
  color: white;
}
.preferenceContainer .dayContainer .buttonsContainer .button.default.selected {
  background-color: #444;
  color: white;
}
.preferenceContainer .dayContainer .buttonsContainer .button:hover {
  background-color: #464646;
  color: white;
}
.panelButton {
  background-color: #ccc;
  display: inline-block;
  color: #29292a;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 10px;
  margin: 2px 10px 2px 200px;
  min-width: 80px;
  min-height: 14px;
  vertical-align: middle;
}
.panelButton:hover {
  background-color: #707070;
}
.monthControls {
  margin-bottom: 20px;
}
.monthControls .button {
  display: inline-block;
  padding: 8px;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 3px 5px;
  cursor: pointer;
  border-radius: 2px;
}
.monthControls .month {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}
.calendarView {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendarView .calendarContainer {
  flex-basis: 360px;
  text-align: center;
}
.calendarView .calendarContainer .daysGrid td {
  width: 50px;
  height: 56px;
}
.calendarView .calendarContainer .daysGrid thead td,
.calendarView .calendarContainer .daysGrid tbody td {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #50236c;
  border: 1px solid #666;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
.calendarView .calendarContainer .daysGrid tbody td {
  background-color: white;
  color: #555;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: Roboto;
  vertical-align: top;
}
.calendarView .calendarContainer .daysGrid tbody td i {
  margin-left: 4px;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}
.calendarView .calendarContainer .daysGrid tbody td.selected .dayNumber {
  border: 2px solid #425;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(68, 34, 85, 0.05);
}
.calendarView .calendarContainer .daysGrid .dayNumber {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 100%;
}
.calendarView .calendarContainer .daysGrid .dayNumber span.shortDayIcon {
  color: #169320;
}
.calendarView .calendarContainer .daysGrid .dayNumber i.notprefered {
  color: #822;
}
.calendarView .calendarContainer .daysGrid .dayNumber i.prefered {
  color: #282;
}
.calendarView .calendarContainer .daysGrid .dayNumber i.neutral {
  color: #555;
}
.calendarView .calendarContainer .daysGrid .dayNumber i.replacement {
  color: #26A;
}
.calendarView .calendarContainer .daysGrid .dayNumber.holiday {
  color: #C44;
  font-weight: bold;
}
.calendarView .calendarContainer .daysGrid .dayNumber.nonworking {
  color: #ccc;
  font-weight: bold;
}
div.button {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 3px;
  padding: 7px 10px;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Roboto;
  cursor: pointer;
}
.loginContainer {
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
}
.loginContainer .errorText {
  margin-top: 10px;
  color: #622;
}
.loginContainer input,
.loginContainer button {
  box-sizing: border-box;
  display: block;
  border: 1px solid #aaa;
  background-color: white;
  border-radius: 3px;
  padding: 7px 10px;
  margin-top: 10px;
  width: 200px;
}
.loginContainer button {
  margin-top: 30px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
}
.dayContent {
  flex-grow: 1;
  display: flex;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}
.dayContent .dayPanel {
  flex-grow: 1;
  flex-basis: 300px;
}
.dayContent .dayPanel .header {
  background-color: #50236c;
  color: white;
  font-size: 15px;
  padding: 10px;
}
.dayContent .dayPanel .header i.fa {
  margin-right: 10px;
}
.dayContent .dayPanel .header .title {
  font-family: Roboto;
  text-transform: uppercase;
}
.dayContent .dayPanel .panelContent {
  padding: 10px 0;
}
.iconContainer {
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}
.iconContainer.prefered {
  background-color: #151;
  color: white;
}
.iconContainer.notPrefered {
  background-color: #511;
  color: white;
}
.iconContainer i.fa {
  margin-left: 5px;
  margin-right: 10px;
}
.userInfo {
  box-sizing: border-box;
  width: 400px;
  align-items: center;
  padding: 6px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: #f4e1ff;
  border: 1px solid #707070;
}
.userInfo.currentUser {
  border: 3px solid #3f46cc;
}
.userInfo.admin {
  background-color: #bbb;
}
.userInfo .userContainer {
  display: flex;
  align-items: center;
}
.userInfo .userElement {
  display: inline-block;
  flex-grow: 1;
  font-family: Roboto;
  line-height: 1.4em;
  font-size: 14px;
  font-weight: bold;
}
.userInfo .userElement .label {
  width: 100px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: normal;
}
.userInfo .userIcons {
  display: inline-block;
  flex-grow: 0;
}
.userInfo .userIcons .userIcon {
  padding: 2px;
  margin: 2px;
  font-size: 16px;
  cursor: pointer;
}
.userInfo.newUser {
  width: auto;
  max-width: 400px;
}
.userInfo.newUser input {
  padding: 3px 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 3px 0;
  width: 250px;
}
.userInfo.newUser .saveButton,
.userInfo.newUser .cancelButton {
  text-align: center;
  width: 100px;
  margin-left: 100px;
}
.dayPreferences * {
  user-select: none;
}
.makeAssignable {
  margin-top: 40px;
}
.replacementsSuggestions {
  margin-top: 20px;
}
.replacementsSuggestions select {
  padding: 6px 6px 5px 6px;
  border-right: none;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.replacementsSuggestions .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
ul.myReplacements {
  margin-top: 20px;
}
ul.myReplacements li {
  list-style: circle;
  margin: 8px 20px;
}
ul.myReplacements .removeIcon {
  padding: 3px;
  color: #800;
  cursor: pointer;
}
.statisticsView {
  margin-left: 20px;
}
.statisticsView .title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}
.statisticsView .monthlyChartContainer {
  width: 800px;
  height: 250px;
}
.statisticsView table {
  border-spacing: 0;
  border-collapse: collapse;
}
.statisticsView table th,
.statisticsView table td {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #bbb;
}
.statisticsView table td {
  font-size: 16px;
  font-weight: bold;
}
.statisticsView table td.label {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
.statisticsView table td.total {
  background-color: rgba(236, 207, 255, 0.25);
}
.statisticsView table th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 10px;
  background-color: #eccfff;
}
.statisticsView table th.emptyCell {
  border-left: none;
  border-top: none;
  background-color: transparent;
}